# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Project Data (הכי חשוב!)
data/raw/*
data/ocr/*
data/chunks/*
data/index/*
!data/**/.gitkeep

# Logs & Cache
*.log
.pytest_cache/
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db