pydantic
python-dotenv
loguru
pdfplumber
pytesseract
pillow
pymupdf
python-magic
python-multipart
sentence-transformers
chromadb
groq
tenacity
fastapi
uvicorn
redis
rq
click
httpx
pytest
pysqlite3-binary
requests